<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i> 
      Payment Successful!
    </h1>
  </div>

  <div class="mt-40 text-center">

    {{#if error}}
      <div class="mt-20 text-danger">
        <p>{{error}}</p>
      </div>
    {{else}}
    <!-- Added details about the successful payment such as the amount charged, payment intent ID, and status -->
      <div class="mt-20 text-center text-secondary border-placeholder">
        <p><strong>Total charged:</strong> ${{amount}}</p>
        <p><strong>Payment Intent ID:</strong> {{paymentIntentId}}</p>
        <p><strong>Status:</strong> {{status}}</p>
      </div>
    {{/if}}

  </div>
</main>